.background-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.background-secondary {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 30vh;
  border-radius: 12px;
  margin: 2rem 0;
}

.count {
  font-size: 60px;
}
